<!-- PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<section>
					<div class="row">
						<div class="col-md-12">
							<p>We manage and support all our IT service solutions using cutting-edge technology. With the utmost quality and consistency, we make technology an asset for our clients through unique, individualized solutions.</p>
							<p>With a world-leading suite of services designed to improve the way your entire organization works, collaborates and shares information – including IT infrastructure, communications and application services – SMBIT has the expertise to help you realize your long-term strategy and growth objectives.</p>
							<p>SMBIT is dedicated to assisting you with all your IT-related needs. Whether it's designing and setting up your computer network or repairing/maintaining your server, computer or laptop, we're here for you.</p>
						</div>
						<!--<div class="col-md-6">-->
						<!--	<div class="featured-video">-->
						<!--		<iframe src="//player.vimeo.com/video/40056491"></iframe>-->
						<!--	</div>-->
						<!--</div>-->
					</div>
					<br><hr>
					<h2 class="section-heading">MISSION STATEMENT</h2>
					<p class="lead"><span class="dropcap dropcap-big">O</span>ur mission is to provide high-quality and cost-effective IT services that meet our customers' needs. </p>
					<br>
					<h2 class="section-heading">WHY SMBIT?</h2>
					<p class="lead"><span class="dropcap dropcap-big">W</span><strong>e're here for you.</strong> We understand the value of time in business, and we value yours. Whether your needs are proactive or you have an unexpected issue, we are available to assist you.</p>
					<p class="lead"><span class="dropcap dropcap-big">W</span><strong>e strive to be the best.</strong> We offer a variety of services and strive to be the best in customer service, knowledge, teamwork, and communication. We guarantee our work, and stand behind every decision we make. </p>
					<hr>
				</section>

				

				<!-- OUR CLIENTS -->
				<!--<section class="clients no-margin">-->
				<!--	<div class="container">-->
				<!--		<h2 class="section-heading">OUR CLIENTS</h2>-->
				<!--		<ul class="list-inline list-client-logo">-->
				<!--			<li>-->
				<!--				<a href="#"><img src="assets/img/clients/logo1.png" alt="logo"></a>-->
				<!--			</li>-->
				<!--			<li>-->
				<!--				<a href="#"><img src="assets/img/clients/logo2.png" alt="logo"></a>-->
				<!--			</li>-->
				<!--			<li>-->
				<!--				<a href="#"><img src="assets/img/clients/logo3.png" alt="logo"></a>-->
				<!--			</li>-->
				<!--			<li>-->
				<!--				<a href="#"><img src="assets/img/clients/logo4.png" alt="logo"></a>-->
				<!--			</li>-->
				<!--			<li>-->
				<!--				<a href="#"><img src="assets/img/clients/logo5.png" alt="logo"></a>-->
				<!--			</li>-->
				<!--		</ul>-->
				<!--	</div>-->
				<!--</section>-->
				<!-- END OUR CLIENTS -->
			</div>
		</div>
		<!-- END PAGE CONTENT -->