<!-- HERO UNIT -->
		<section class="hero-unit-slider">
			<div id="carousel-hero" class="slick-carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<%= image_tag ("hero-chi.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">SAY SOMETHING HERE</h2>
							<p class="lead">Something about SMB IT</p>
							<a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<%= image_tag ("slider-home1.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">PROMOTE CAMPAIGN</h2>
							<p class="lead">Maybe promote the campaign here and we can link to it.</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<%= image_tag ("slider-home2.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">SOMETHING ELSE</h2>
							<p class="lead">And you can say some other stuff here as well.</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END HERO UNIT -->