<div class="jumbotron">
  <h3>SMBIT is here to help you with ALL your technology needs.  Need help with your current backup & disaster recovery strategy OR do you need one desperately so that you can sleep better at night knowing that you are backed up and secure?  Is your phone bill too high or are you looking to upgrade your current phone system?  Looking to move to the Cloud but you are not sure where to start OR if it even makes sense for your business to be in the Cloud?  Is your equipment, desktops/servers/networking devices running slow?  Do you just need a reliable and trustworthy technician to perform monthly or quarterly maintenance on all of your infrastructure including desktops?  Are you looking for security measures such as CCTV or just want to know what goes on at your office while you are away?  Let SMBIT help you with any or all of your technology WANTS and NEEDS.</h3>
  <%= link_to "Contact us", new_contact_path, class: "btn btn-primary" %>
</div>
