<!-- HERO UNIT -->
		<section class="hero-unit-slider">
			<div id="carousel-hero" class="slick-carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<%= image_tag ("hero-chi.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">CLEAN &amp; ELEGANT DESIGN</h2>
							<p class="lead">Giving valuable reputation and credibility to your business</p>
							<a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<img src="assets/img/sliders/slider2-h500.png" alt="Slider Image">
						<div class="carousel-caption">
							<h2 class="hero-heading">ULTRA RESPONSIVE</h2>
							<p class="lead">Leave it to the theme, it knows how to deal with screen sizes</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<img src="assets/img/sliders/slider3-h500.png" alt="Slider Image">
						<div class="carousel-caption">
							<h2 class="hero-heading">EASY TO CUSTOMIZE</h2>
							<p class="lead">Readable code, well documented and FREE support</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END HERO UNIT -->