<!-- HERO UNIT -->
		<section class="hero-unit-slider">
			<div id="carousel-hero" class="slick-carousel">
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<%= image_tag ("hero-chi.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">SAY SOMETHING HERE</h2>
							<p class="lead">Something about SMB IT</p>
							<a href="#" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<%= image_tag ("slider-home1.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">PROMOTE CAMPAIGN</h2>
							<p class="lead">Maybe promote the campaign here and we can link to it.</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
					<div class="item">
						<%= image_tag ("slider-home2.png") %>
						<div class="carousel-caption">
							<h2 class="hero-heading">SOMETHING ELSE</h2>
							<p class="lead">And you can say some other stuff here as well.</p>
							<a href="#about" class="btn btn-lg hero-button">LEARN MORE</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- END HERO UNIT -->
		
		<!-- BEGING MAIN CONTENT -->
<div class="container">	
	<div class="row">
		<div class="col-md-3">
		  <div class="panel panel-default">
		    <div class="panel-heading text-center"><h3>WELCOME</h3></div>
		    <div class="panel-body">SMBIT is here to help you and your business. From any networking and needs you might have to migrating your on-premise infrastructure to the Cloud,
		    we're here to help you get set up and running smoothly.
		    </div>
		  </div>
		</div>
		<div class="col-md-3">
		  <div class="panel panel-default">
		    <div class="panel-heading text-center"><h3>NETWORKING</h3></div>
		    <div class="panel-body">We integrate your computer networks, infrastructure, phone, data, and security systems. We're dedicated to delivering a network solution to help you efficiently manage your network.
		    </div>
		  </div>
		</div>
	  <div class="col-md-3">
		<div class="panel panel-default">
		    <div class="panel-heading text-center"><h3>IT CONSULTING</h3></div>
		    <div class="panel-body">Are you worried about your technology reliability? Are you confused about what you really need? SMBIT can answer all your technology questions to let you focus on growing your business.
		    </div>
	  </div>
	</div>
		<div class="col-md-3">
			<div class="panel panel-default">
			    <div class="panel-heading text-center"><h3>SERVICES</h3></div>
			    <div class="panel-body">
			    	<ul>
			    		<li>Cloud</li>
			    		<li>Network</li>
			    		<li>Professional Services</li>
			    		<li>Managed IT Services</li>
			    		<li>Collaboration</li>
			    		<li>Hardware &amp; Software</li>
			    		<li>And more...</li>
			    	</ul>
			    </div>
	  		</div>
		</div>
	</div>
	<!-- END MAIN CONTENT -->
	
<div class="row">
  	  <div class="col-sm-4 col-md-4">
       <div class="thumbnail">
        <img src="//placehold.it/200x150" alt="...">
         <div class="caption text-center">
          <h3>Caption</h3>
          <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
		     Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
          <p><a href="#" class="btn btn-primary" role="button">More Information <i class="glyphicon glyphicon-chevron-right"></i></a></p>
         </div>
        </div>
       </div>
  	   <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
         <img src="//placehold.it/200x150" alt="...">
         <div class="caption text-center">
          <h3>Caption</h3>
          <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
		     Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
          <p><a href="#" class="btn btn-primary" role="button">More Information <i class="glyphicon glyphicon-chevron-right"></i></a></p>
         </div>
        </div>
       </div>    
       <div class="col-sm-4 col-md-4">
        <div class="thumbnail">
         <img src="//placehold.it/200x150" alt="...">
         <div class="caption text-center">
          <h3>Caption</h3>
          <p>Nullam sapien massa, aliquam in cursus ut, ullamcorper in tortor. 
		     Aliquam mauris arcu, tristique a lobortis vitae, condimentum feugiat justo.</p>
          <p><a href="#" class="btn btn-primary" role="button">More Information <i class="glyphicon glyphicon-chevron-right"></i></a></p>
         </div>
        </div>
       </div>
      </div>      
     </div>
	</div>
</div>