<!-- PAGE CONTENT -->
		<div class="page-content">
			<div class="container">
				<section>
					<p>SMBIT’s infrastructure services combine a wealth of experience with deep technical know-how and a highly customer-focused culture to deliver IT solutions that meet the needs and objectives of your organization.</p>
					<p>SMBIT's solutions and consulting services include:</p>
					<br>
					<br>
					<!-- BOXED CONTENT -->
					<div class="row">
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-exchange"></i>
								<h2 class="boxed-content-title">NETWORKING</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-phone"></i>
								<h2 class="boxed-content-title">UNIFIED COMMUNICATIONS</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-desktop"></i>
								<h2 class="boxed-content-title">DESKTOP &amp; MOBILE SUPPORT</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-server"></i>
								<h2 class="boxed-content-title">SERVER MANAGEMENT</h2>
								<p>Includes setup, migration and maintainence.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-database"></i>
								<h2 class="boxed-content-title">STORAGE &amp; DATA BACKUP</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-hdd-o"></i>
								<h2 class="boxed-content-title">DISASTER RECOVERY</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-area-chart"></i>
								<h2 class="boxed-content-title">PROJECT MANAGEMENT</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-users"></i>
								<h2 class="boxed-content-title">VENDOR MANAGEMENT</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-cloud"></i>
								<h2 class="boxed-content-title">CLOUD SERVICES</h2>
								<p>IaaS, SaaS and DRaaS Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-file-archive-o"></i>
								<h2 class="boxed-content-title">HARDWARE/SOFTWARE REPAIR</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
						<div class="col-md-4 offset-4">
							<div class="boxed-content left-aligned left-boxed-icon">
								<i class="fa fa-info"></i>
								<h2 class="boxed-content-title">IT CONSULTING</h2>
								<p>Holisticly harness just in time technologies via corporate scenarios. Intrinsicly predominate ubiquitous outsourcing through an expanded array of functionalities.</p>
							</div>
						</div>
					</div>
					<!-- END BOXED CONTENT -->
				</section>
				<hr>

				<!-- TESTIMONIAL -->
				<section class="testimonial slick-carousel margin-bottom-30px">
					<h2 class="section-heading">CUSTOMER TESTIMONIALS</h2>
					<div class="testimonial-body">
						<p>Credibly extend parallel relationships after clicks-and-mortar content. Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
						<div class="testimonial-author">
							<img src="assets/img/user2.png" alt="Author" class="pull-left">
							<span><span class="author-name">Antonius</span> <em>CEO of TheCompany</em></span>
						</div>
					</div>
					<div class="testimonial-body">
						<p>Credibly pontificate team building alignments rather than diverse quality vectors. Monotonectally benchmark business communities for distinctive mindshare.</p>
						<div class="testimonial-author">
							<img src="assets/img/user1.png" alt="Author" class="pull-left">
							<span><span class="author-name">Michael</span> <em>General Manager of DreamCorp</em></span>
						</div>
					</div>
					<div class="testimonial-body">
						<p>Appropriately morph low-risk high-yield process improvements through progressive partnerships. Uniquely brand enabled. Globally network timely imperatives without plug-and-play schemas. Globally coordinate economically sound interfaces.</p>
						<div class="testimonial-author">
							<img src="assets/img/user5.png" alt="Author" class="pull-left">
							<span><span class="author-name">Palmer</span> <em>Freelance Web Developer</em></span>
						</div>
					</div>
				</section>
				<!-- END TESTIMONIAL -->

				<hr class="margin-bottom-50px">

			
			</div>
		</div>
		<!-- END PAGE CONTENT -->